/* HEADER AND BOTTOM NAV STYLES */

.logo {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  padding-bottom: 2vh;
  color: teal;
}

#logo-image {
  width: 25%;
  border-radius: 50%;
}

#select-language {
  width: 20%;
  height: 3vh;
  background-color: lightyellow;
  font-weight: bold;
  margin-top: 6%;
  margin-left: 1%;
}

#navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

#navbar button {
  text-align: center;
  padding: 14px 20px;
  width: 25%;
  text-decoration: none;
  font-size: 17px;
}

#navbar button:hover {
  background-color: #ddd;
  color: black;
}

#navbar button:active, .add-drink-btn:active {
  background-color: teal;
  color: white;
}

.sticky {
  /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* DRINKS STYLES */

.add-drink-btn {
  width: 18%;
  height: 3vh;
  margin-top: 13%;
  border-radius: 12px;
}

.drinks > p, .sides > p {
  padding-top: 10%;
  font-weight: 600;
}

.drinks, .sides {
  border-bottom: solid teal;
  padding-bottom: 5px;
}

.drink-img {
  height: 18vh;
} 

/* RAMEN STYLES */

.ramen-image {
  margin-bottom: 5%;
  border: solid teal;
  width: 80%;
}

.ramen-radio {
  font-size: 125%;
  font-weight: 600;
  padding-left: 18%;
}

/* https://stackoverflow.com/questions/12294367/html-radio-buttons-add-space-between-the-buttons-from-the-same-groupe */
input[type="radio"] {
  margin: 12px 0;
}

.toppings {
  font-weight: 600;
  padding-left: 30%;
}

input[type="checkbox"] {
  margin: 10px 0;
}

#ramen-submit {
  margin-top: 2%;
  padding: 5px 15px;
}

/* SIDES STYLES */

.sides-img {
  height: 18vh;
  width: 60vw;
}

/* CART STYLES */

.cart-img {
  width: 15%;
}

.cart {
  border-top: solid teal;
}

.container {
  text-align: center;
}

.remove-btn, #total-price {
  margin-bottom: 5px;
}

.drinks, .sides, .cart {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  font-size: 18px;
}

#content {
  padding-bottom: 70px;
}

a:link, a:visited {
  text-decoration: none;
  background-color: teal;
  padding: 14px 25px;
  color: white;
}

@media only screen and (min-width: 1000px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
  #navbar {
    width: 600px;
    margin-left: auto;
  }
  
  .sides-img {
    width: 600px;
    height: 10%;
  }
}



