/* HEADER AND BOTTOM NAV */

#navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

#navbar button {
  text-align: center;
  padding: 14px 20px;
  width: 25%;
  text-decoration: none;
  font-size: 17px;
}

#navbar button:hover {
  background-color: #ddd;
  color: black;
}

#navbar button:active {
  background-color: #04AA6D;
  color: white;
}

.sticky {
  /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  padding-bottom: 2vh;
}

#logo-image {
  width: 25%;
  border-radius: 50%;
}

/* */

.drinks, .sides, .cart {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  /* padding-left: 10%; */
  width: 90%;
  font-size: 18px;
}
.drink-img, .sides-img {
  height: 18vh;
}

.cart-img, .cart p {
  width: 15%;
}

#content {
  padding-bottom: 70px;
  padding-left: 10%;
}

.ramen-image {
  width: 80%;
}

