body {
  text-align: center;
}

#navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

#navbar button {
  text-align: center;
  padding: 14px 20px;
  width: 25%;
  text-decoration: none;
  font-size: 17px;
}

#navbar button:hover {
  background-color: #ddd;
  color: black;
}

#navbar button:active {
  background-color: #04AA6D;
  color: white;
}

.sticky {
  /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.drinks {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.drink-img {
  height: 15vh;
}